body {
    width: 1000px;
}

.top {
    background-color: #1f2937;
    padding: 0 150px 0 150px;
}

.header {
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 10px 0 10px 0;
    align-items: baseline;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: grey;
    margin: 50;
}

.header-links {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
    color: #E5E7EB;
    gap: 20px;
}

.hero {
    display: flex;
    justify-content: space-between
    ;
}

.hero-body, .hero-image {
    width: 300px;
    height: 150px;
    margin: 70px 0 70px 0;
}

.hero-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-header {
    size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
}

.hero-text {
    size: 17px;
    color: #E5E7EB;
}









button {
    background-color: #3882f6;
    color: white;
    width: 90px;
    padding: 3px;
}






