body {
    width: 1200px;
}

.top {
    background-color: #1f2937;
    padding: 0 150px 0 150px;
}

.header {
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 10px 0 10px 0;
    align-items: baseline;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: grey;
    margin: 50;
}

.header-links {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
    color: #E5E7EB;
    gap: 20px;
}

.hero {
    display: flex;
    justify-content: space-between
    ;
}

.hero-body {
    width: 300px;
    height: 150px;
    margin: 70px 0 70px 0;
}

.hero-image {
    width: 400px;
    height: 200px;
    margin: 70px 0 70px 0;
}

.hero-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-header {
    size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
}

.hero-text {
    size: 17px;
    color: #E5E7EB;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.info-header {
    font-size: 36px;
    font-weight: 800;
    margin: 40px;
}

.icons {
    display: flex;
    gap: 40px;
}

.icon {
    width: 150px;

}

.icon-image {
    height: 150px;
    width: 150px;
    border: 3px solid rgb(149, 149, 255);
    border-radius:9px
}

.icon-text {
    text-align: center;
    color: gray;
}

.text {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 100px;
}

.quote {
    display: flex;
    flex-direction: column;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    width: 700px;
    height: auto;
}

.author {
    align-self: flex-end;
    color: black;
    font-weight: bold;
    font-style: normal;
}

.sign-up {
    display: flex;
    justify-content: center;
    padding: 100px;
}

.blue-square {
    background-color: #3882f6;
    width: 700px;
    border-radius: 7px;
    display: flex;
    padding: 25px 50px 25px 50px;
    justify-content: space-between;
    align-items: center;

}

.square-text {
    display: flex;
    flex-direction: column;
}

.square-header, .square-body {
    margin: 0;
    padding: 0;
    color: white;
}

.square-header {
    font-size: large;
}

.footer {
    background-color: #1f2937;
    color: white;
    padding: 20px;
    text-align: center;
}



button {
    background-color: #3882f6;
    color: white;
    width: 90px;
    height: 25px;
    padding: 3px;
    border-radius:6px;
    flex-shrink: 0;
    border-width: 0px;
}

.button-blue {
    border-color: white;
    border-width: 1px;
}






